.formWindow{
    display: block;
    position: fixed;
    top: 50%;;
    left: 50%;;
    z-index: 1;
    transform: translate(-50%, -50%)
}
.formContainer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.formContainer input[type=text] {
    width: 100%;
    padding: .5rem;
    margin-top: .5rem ;
    border: none;
    background: #f1f1f1;
    outline: none;
    box-sizing: border-box;
  }
  .formContainer label {
    text-align: left;
    margin-top: .5rem ;
  }
.formContainer input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
.btn{
    width: 100%;
    margin-top:0.5rem;
}